<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="../static/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
<div id="app">
    <el-menu
            class="el-menu-demo"
            mode="horizontal"
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b">
        <el-menu-item index="1">首页</el-menu-item>
        <el-menu-item index="2">测试</el-menu-item>
        <el-menu-item index="3">消息中心</el-menu-item>
        <el-menu-item index="4"><a href="{{ url_for('message') }}">留言板</a></el-menu-item>
    </el-menu>  <!--首栏-->
    <ol>
        <li v-for="site in sites">
          ${ site.name }
        </li>
    </ol>
</div>
<script type="text/javascript">

    new Vue({
        el: '#app',
        data: {
            sites: [
              { name: 'Runoob' },
              { name: 'Google' },
              { name: 'Taobao' }
            ]
        },
        delimiters: ['${', '}']
    })
</script>
</body>
</html>
